#mySearch {
  max-width: 400px;
  margin: 20px auto;
  input {
    width: 400px;
    height: 32px;
    padding: 0 10px;
    border-bottom: 2px solid orangered;
    outline: none;
  }
  p {
    text-align: center;
    margin-top: 10px;
    color: blueviolet;
  }
}

#myContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  .item {
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 30px;
    padding: 30px;
    cursor: pointer;
    img {
      border-radius: 10px;
    }
    h1 {
      margin-top: 30px;
      font-weight: 600;
      color: orangered;
    }
    p {
      color: blueviolet;
      font-size: 22px;
      font-weight: 600;
      margin: 5px 0;
    }
    .myBtn {
      margin: 20px auto;
      background-color: orangered;
      color: white;
      height: 30px;
      width: 150px;
      text-align: center;
    }
    .moRong {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      button {
        width: 400px;
        height: 40px;
        // border-radius: 8px;
        // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;

        &:hover {
          background-color: blueviolet;
        }
      }
      button.active {
        background-color: blueviolet;
        transition: all 0.3s;
        &:hover {
          background-color: orangered;
        }
      }
      .chiTiet {
        max-width: 400px;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        .chiTietContent {
          width: 400px;
          padding: 20px;
          .inputItem {
            margin-bottom: 10px;
            input {
              width: 100%;
              height: 32px;
            }
            button {
              background-color: blueviolet;
              color: white;
              height: 32px;
              width: 100%;
              transition: all 0.3s;
              &:hover {
                background-color: orangered;
              }
            }
            .alert {
              span {
                color: silver;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                display: block;
              }
              h1 {
                color: white;
                background-color: blueviolet;
                font-size: 14px;
                font-weight: 500;
                border: 1px solid silver;
                height: 32px;
                line-height: 32px;
                transition: all 0.3s;
                margin-top: 5px;
                &:hover {
                  background-color: orangered;
                }
              }
              h1.dangKy {
                font-size: 14px;
                color: orangered;
                border: none;
                background-color: transparent;
              }
            }
          }
          h1 {
            text-align: center;
            color: blueviolet;
            margin: 0 0 20px;
          }
          p {
            color: orangered;
            font-size: 12px;
            font-weight: 400;
            text-align: right;
          }
          table {
            width: 100%;
            border-collapse: collapse;
            thead {
              th {
                text-align: left;
                background-color: blueviolet;
                color: white;
                padding: 5px 10px;
                font-weight: 500;
              }
            }
            tbody {
              tr {
                &:nth-child(even) {
                  background-color: rgba(245, 245, 245, 0.3);
                }
                td {
                  padding: 5px 10px;
                  border-bottom: 1px solid rgb(220, 220, 220);
                  &:nth-child(odd) {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
      .binhLuan {
        height: 500px;
        overflow: scroll;
        .binhLuanContent {
          padding: 10px 20px 10px;
          .nguoiDung {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              font-size: 12px;
              color: silver;
            }
          }
          .danhGia {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .star-rating {
              display: inline-block;
              font-size: 16px;
            }

            .star-rating::before {
              content: "\2605"; /* Ngôi sao Unicode */
              color: orangered; /* Màu sắc của ngôi sao */
            }

            /* Các class tương ứng với số sao */
            .star-rating.star-1::before {
              content: "\2605";
            }
            .star-rating.star-2::before {
              content: "\2605\2605";
            }
            .star-rating.star-3::before {
              content: "\2605\2605\2605";
            }
            .star-rating.star-4::before {
              content: "\2605\2605\2605\2605";
            }
            .star-rating.star-5::before {
              content: "\2605\2605\2605\2605\2605";
            }
          }
        }
      }
      .hidden {
        height: 0;
        overflow: hidden;
      }
    }
  }
}

#formDangNhap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 100vh;

  form {
    width: 400px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    .inputItem {
      margin-bottom: 10px;
      border-bottom: 1px solid blueviolet;
      input {
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
      }
      button {
        width: 100%;
        height: 32px;
        background-color: blueviolet;
        color: white;
        transition: all 0.3s;
        &:hover {
          background-color: orangered;
        }
      }
    }
    button {
      text-align: center;
      &.secondary {
        color: orangered;
        transition: all 0.3s;
        &:hover {
          color: blueviolet;
        }
      }
    }
    h1 {
      text-align: center;
      color: blueviolet;
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 600;
    }
    i {
      position: absolute;
      top: 10px;
      right: 10px;
      color: orangered;
      cursor: pointer;
    }
  }
}

#formDangKy {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 100vh;

  form {
    width: 400px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    .inputItem {
      margin-bottom: 3px;
      border-bottom: 1px solid blueviolet;
      input {
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
      }
      button {
        width: 100%;
        height: 32px;
        background-color: blueviolet;
        color: white;
        transition: all 0.3s;
        &:hover {
          background-color: orangered;
        }
      }
    }
    .gioiTinh {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid blueviolet;
      height: 40px;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      color: orangered;
      margin-bottom: 6px;
      text-align: right;
    }
    button {
      text-align: center;
      &.secondary {
        color: orangered;
        transition: all 0.3s;
        &:hover {
          color: blueviolet;
        }
      }
    }

    h1 {
      text-align: center;
      color: blueviolet;
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 600;
    }
    i {
      position: absolute;
      top: 10px;
      right: 10px;
      color: orangered;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 992px) {
}
